
html {
    background: rgb(6, 119, 119);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
}
body
{
    margin: 0;
    display: flex;
    flex: 1;
    text-align: center;
    min-height: 100vh;
}
.clock {
    border-style: solid;
    border-color:rgb(225, 238, 236);
    border-radius: 50%;
    border-width: .3rem;
    height: 15rem;
    width: 15rem;
    margin: auto auto;
    position: relative;
    padding: 2rem;
}
.clock-face {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(-3px);
}
.hand {
    position: absolute;
    top:50%;
    height: 6px;
    background: black;
    transform-origin: 100%;
    width: 50%;
    transform: rotate(90deg);
}
.sec {
   
}
.hour {

}